@media screen and (max-width: 1800px) {
    /*home*/
    .carousel .carousel_buttons  {
        top: 0%;
        transform: translateY(-0%);
        

    }

    /*articles*/
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }

    /*home*/
    .carousel .carousel_content--visible {
        grid-template-columns: repeat(2, 1fr);
    }

}




@media screen and (max-width: 700px) {
    /*home*/
    .post_img {
        height: 150px;
    }

    .carousel .carousel_buttons  {
        top: 0%;
        transform: translateY(-0%);
        

    }

    .latest_articles_h2 {
        font-size:15px;
        width: 100%;
       
        
    }

    .post_name {
        font-size: 20px;
        
    }

    .carousel_item{
        padding: 10px;
    }

    /*articles*/
    .articles {
        grid-template-columns: repeat(1, 1fr);
    }

     /*layout*/
     .logo-footer{
        width: 80%;
    }

    
  }