@media screen and (max-width: 1800px) {
    /*home*/
    .carousel .carousel_buttons  {
        top: 0%;
        transform: translateY(-0%);
        

    }

    /*articles*/
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }

    /*home*/
    .carousel .carousel_content--visible {
        grid-template-columns: repeat(2, 1fr);
    }

}




@media screen and (max-width: 700px) {
    /*home*/
    .post_img {
        height: 150px;
    }

    .carousel .carousel_buttons  {
        top: 90%;
        transform: translateY(-0%);
        width: 100%;
        

    }

    .latest_articles_h2 h2 {
        font-size:20px;
        width: 95%; 
        
       
        
    }

    .post_name {
        font-size: 15px;
        
    }

    .carousel_item{
        padding: 5px;
    }

    .date, .carousel_item .author{
        font-size: 10px;
    }

    /*articles*/
    .articles {
        grid-template-columns: repeat(1, 1fr);
    }

    .read_more{
        font-size: 17px;
    }

    .articles_name{
        font-size: 20px;
    }

    .articles-button{
        font-size: 18px;
    }

     /*layout*/
     .logo-footer{
        width: 80%;
    }

    footer p{
        font-size: 12px;
    }

    .nav-action{
        font-size: 16px;
    }

    li a {
        margin: 8px;
    }

    .loader{
        width:50px;
        height: 50px;
        border: 10px solid rgb(155, 154, 154);
        border-top: 12px solid rgba(118, 5, 5);
    }

    /*contact*/
    .contact-info h1{
        font-size: 30px;
    }

    .success{
        font-size: 18px;
    }

    .contact-info{
    
        width: 70%;
    }

    /*article*/
    .article-content2 h2 {
        font-size: 25px;
    }

    .article-content, .author_article, .main_text_article{
        font-size: 15px;
     }

     .date_article{
        font-size: 12px;
    }

    /*about*/
    .about-content h1{
        font-size: 20px;
    }

    
  }