body#home{
/*background-image: url('../../images/gt40\ kopi.jpg');*/
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
min-height: 100vh;


}

.changing_carimg{
    width: 100%;
    opacity: 0.6;
    height: auto;
    
    
    
    
    
}

.posts_img {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.carousel{
    overflow: hidden; 
    
    position: relative;
}

.carousel .carousel_content,
.carousel .carousel_content--hidden {
    display: none; 
}

 .carousel .carousel_content--visible {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1500px;
    margin: 70px auto;
    margin-top: 25px;
    
}

.carousel .carousel_buttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.carousel .carousel_buttons button {
    
    border: 0;
    /*width: 50px;
    height: 50px;*/
    color: #000;
    font-size: 44px;
    
   /* background-color: #fff;*/
   background-color: #fff;
    

}

.carousel .carousel_buttons button:hover{
    
    /*background-color: rgb(155, 154, 154);*/
    color: rgba(118, 5, 5);
    transition: all 1.5s;


}

.carousel .carousel_buttons button#carousel_button--prev {
    margin-left: 20px;
    cursor: pointer;
}

.carousel .carousel_buttons button#carousel_button--next {
    margin-right: 20px;
    cursor: pointer;
    
}

.post_img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
    
}

.post_img:hover{
    opacity: 0.6;
    cursor: pointer;
}

.carousel_item {

   padding: 20px;
}



.latest_articles_h2{
    margin-top: 40px ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    
}

.latest_articles_h2 h2{
    width: 78%; 
    line-height: 0.1em;
    border-bottom: 1px solid #626161;
    text-align: center;
    font-size: 25px;
}

 .latest_articles_h2 span{ 
    background: #fff;
    padding: 0 10px;
}

.post_name {
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-top: 0;
}

.post_name:hover, .articles_name:hover{
    border-bottom: 1px ridge black;
    cursor: pointer;
}

.carousel_item .author{
    color: rgb(191, 9, 9);
    margin-top: -6px;
    font-size: 15px;
}

.cta {
    color: #000;
    font-size: 20px;
    text-decoration: none;
    border: none;
    border-width: thin;
    font-weight: lighter;
    transition: all 1s;
    
    
}

.cta:hover {
    border-bottom: 1px ridge black;
}

  
.date {
      font-size: 15px;
      color: rgb(155, 154, 154);
      margin-top: 3px;
  }

  .load{
    display: flex;
    margin-top: 10px;
    justify-content: center;

  }

  .loader {
    border: 18px solid rgb(155, 154, 154);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation: spin 1s ease infinite;
    border-top: 15px solid rgba(118, 5, 5);
    
    margin-top: 20px;
    
   
    
    
    
    
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 






